@media only screen and (min-width: 0) {
  .companyBanner .companyContainer .btns {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 3em;
  }
  .companyBanner .companyContainer .btns button {
    width: 100%;
  }
  .companyBanner .companyContainer .btns a {
    width: -webkit-fill-available;
  }
  .companyBanner .companyContainer .btns a button.letsConnectBtn {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0.125em solid #ffffff;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.25em;
    gap: 0.625em;
    width: 100%;
    height: 3.375em;
  }
  .services .container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .services .container .description {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
  .services .container .description .serviceTitle {
    font-size: 2.5em;
    color: #202020;
  }
  .services .container .description .serviceDescription {
    line-height: 1.5em;
    color: #707070;
  }
  .services .container img {
    padding: 0.5em;
    border-radius: 1em;
  }
  .services .container a {
    width: fit-content;
  }
  .services .container a .getQuoteBtn {
    background-color: #e2cd1a;
    color: #192436;
    border: none;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.25em;
    gap: 0.625em;
    height: 3.375em;
  }
  .services .container#sitePrep {
    background-color: #fafbfb;
  }
  .whyChooseUs {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
    align-items: center;
    background-color: #0cb2cf;
    margin-bottom: 7.5em;
  }
  .whyChooseUs .innerImage {
    display: none;
  }
  .whyChooseUs .innerImage img {
    height: 100%;
  }
  .whyChooseUs .description {
    display: inherit;
    gap: 1em;
    padding: 1em;
  }
  .whyChooseUs .description .subTitle {
    color: #ffffff;
    font-size: 2.5em;
  }
  .whyChooseUs .description .welcomeMessage {
    color: #ffffff;
    font-size: 1.5em;
  }
  .whyChooseUs .description .subText {
    color: #ffffff;
  }
  .whyChooseUs .description .serviceDescription p {
    color: #ffffff;
    font-size: 1.125em;
    line-height: 2em;
  }
  .whyChooseUs .description .factCounter {
    font-size: 3.75em;
    color: #ffffff;
  }
  .whyChooseUs .description .factCounter .clientsServed {
    display: flex;
  }
  .whyChooseUs .description .factCounter .experience {
    display: flex;
  }
  .whatWeOffer {
    display: grid;
    margin-bottom: 7.5em;
  }
  .whatWeOffer .description {
    display: inherit;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  .whatWeOffer .description .subTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1a6fe1;
    font-size: 0.9375em;
    line-height: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .whatWeOffer .description .subTitle .subtitleBorder {
    position: relative;
    display: block;
    background-color: #1a6fe1;
    width: 1.875em;
    height: 0.125em;
    margin-right: 0.625em;
  }
  .whatWeOffer .description h2 {
    font-size: 2em;
    color: #011e45;
    font-weight: 900;
  }
  .whatWeOffer .description .subText p {
    max-width: 60em;
    font-size: 1.125em;
    line-height: 1.875em;
    text-align: left;
  }
  .whatWeOffer .carouselContainer {
    position: relative;
    display: flex;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
  }
  .whatWeOffer .carouselContainer .carouselItem {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  .whatWeOffer .carouselContainer .carouselItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .benefitsOfPt {
    display: grid;
    margin-bottom: 7.5em;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
    align-items: center;
    background-image: linear-gradient(180deg, #f4f5f9 0%, #f4f5f9 100%);
  }
  .benefitsOfPt .description {
    display: inherit;
    gap: 1em;
    padding: 1em;
  }
  .benefitsOfPt .description .subTitle {
    font-size: 2.5em;
  }
  .benefitsOfPt .description .subTitle .subtitleBottomBorder {
    position: relative;
    display: block;
    background-color: #011e45;
    width: 1.875em;
    height: 0.125em;
    margin-right: 0.625em;
  }
  .benefitsOfPt .description .welcomeMessage {
    color: #ffffff;
    font-size: 1.5em;
  }
  .benefitsOfPt .description .subText {
    color: #ffffff;
  }
  .benefitsOfPt .description .serviceDescription p {
    color: #ffffff;
    font-size: 1.125em;
    line-height: 2em;
  }
  .benefitsOfPt .description .factCounter {
    font-size: 3.75em;
    color: #ffffff;
  }
  .benefitsOfPt .description .factCounter .clientsServed {
    display: flex;
  }
  .benefitsOfPt .description .factCounter .experience {
    display: flex;
  }
  .benefitsOfPt .description .navLink {
    margin-bottom: 4em;
    max-width: fit-content;
  }
  .benefitsOfPt .description .navLink .viewServices {
    background-image: linear-gradient(to right, #e12454 50%, #011e45 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    background-position: 0;
    color: #ffffff;
    border: none;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 0;
    cursor: pointer;
  }
  .benefitsOfPt .description .navLink :hover {
    background-position: 100%;
    color: #ffffff;
  }
  .benefitsOfPt .innerImage img {
    height: 100%;
  }
  .statistics {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    margin-right: 1em;
    justify-items: center;
    margin-top: 1.875em;
    margin-bottom: 7.5em;
    border-right: #1a6fe1;
  }
  .statistics .description {
    display: inherit;
    align-content: center;
  }
  .statistics .description .subTitle {
    display: flex;
    align-items: center;
    color: #1a6fe1;
    font-size: 2em;
    line-height: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .statistics .description .subTitle .subtitleBorder {
    position: relative;
    display: block;
    background-color: #1a6fe1;
    width: 1.875em;
    height: 0.125em;
    margin-right: 0.625em;
  }
  .statistics .description .welcomeMessage {
    color: #011e45;
    font-size: 2.8125em;
    line-height: 1.25em;
    font-weight: 900;
  }
  .statistics .description span.serviceDescription p {
    color: #444444;
    font-family: "Barlow", Sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 2em;
  }
  .statistics .description a.navLink {
    margin-bottom: 4em;
    max-width: fit-content;
  }
  .statistics .description a.navLink .ourServices {
    background-image: linear-gradient(to right, #e12454 50%, #011e45 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    background-position: 0;
    color: #ffffff;
    border: none;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 1.875em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1em;
  }
  .statistics .description a.navLink :hover {
    background-position: 100%;
    color: #ffffff;
  }
  .statistics .container .innerImage img {
    max-width: 100%;
    transform: scale(1);
  }
  .statistics .container .innerImage .box1 {
    position: relative;
    left: -0.625em;
    bottom: 1.6875em;
    width: 5.625em;
    height: 5.625em;
    background-color: #7ec4d0;
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) {
  .landingSection .heroSection {
    background-position: top;
  }
  .landingSection .heroSection .companyMessage {
    padding-top: 15em;
    padding-bottom: 15em;
    max-width: fit-content;
    gap: 2em;
    background: transparent;
  }
  .landingSection .heroSection .companyMessage .cta {
    font-size: 1.25em;
  }
  .landingSection .heroSection .companyMessage .cta #subTitle {
    font-size: 1.25em;
  }
  .landingSection .heroSection .companyMessage .navLink .contactUs {
    font-size: 1em;
  }
  .whatWeOffer .carouselContainer {
    width: 600px;
  }
  .whatWeOffer .carouselContainer ul {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  .services .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
  }
  .services .container .description {
    margin-left: 1.25em;
  }
  .services .boxOne {
    position: relative;
    left: 0em;
    float: right;
    bottom: 30em;
    width: 17.625em;
    height: 19.625em;
    background-color: #192436;
    z-index: -1;
  }
}
@media only screen and (min-width: 1440px) {
  .services .boxOne {
    bottom: 40em;
  }
}
@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .services .boxOne {
    bottom: 50em;
  }
}
