@media only screen and (min-width: 0) {
  .companyBanner {
    background-image: linear-gradient(rgba(25, 36, 54, 0.8), rgba(25, 36, 54, 0.64)), url(../images/homeBackground.webp);
    background-size: cover;
    background-position: center;
  }
  .companyBanner .companyContainer .btns {
    display: flex;
    justify-content: center;
    gap: 3em;
  }
  .companyBanner .companyContainer .btns button {
    width: 100%;
  }
  .companyBanner .companyContainer .btns a {
    width: -webkit-fill-available;
  }
  .companyBanner .companyContainer .btns a button.letsConnectBtn {
    color: #000000;
    background-color: #e2cd1a;
    border: none;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.25em;
    gap: 0.625em;
    width: 100%;
    height: 3.375em;
  }
  .companyBanner :hover {
    cursor: pointer;
  }
  .services .backgroundImage {
    position: absolute;
    z-index: -999;
    width: 100%;
  }
  .services .container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .services .container .description {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
  .services .container .description .serviceTitle {
    font-size: 3em;
    color: #202020;
  }
  .services .container .description .serviceDescription {
    line-height: 1.5em;
    color: #707070;
    font-size: 1.1875em;
  }
  .services .container .description .quoteServicesBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  .services .container .description .quoteServicesBtns a {
    width: -webkit-fill-available;
  }
  .services .container .description .quoteServicesBtns a button {
    width: 100%;
    color: #192436;
    border-radius: 0.5em;
    font-size: 1em;
    gap: 0.625em;
    height: 2.375em;
  }
  .services .container .description .quoteServicesBtns a .getQuoteBtn {
    background-color: #e2cd1a;
    border: none;
  }
  .services .container .description .quoteServicesBtns a :hover {
    cursor: pointer;
  }
  .services .container .description .quoteServicesBtns a .learnMoreBtn {
    background-color: rgba(226, 205, 26, 0.16);
    border: 0.125em solid #303030;
  }
  .services .container img {
    padding: 0.5em;
    border-radius: 1em;
  }
  .services .container#sitePrep {
    background-color: #ffffff;
  }
  .testimonialContainer {
    background-color: #192436;
    display: flex;
    justify-content: center;
  }
  .testimonialContainer .reviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .testimonialContainer .reviewContainer h1 {
    font-size: 2em;
    color: #d5c537;
  }
  .testimonialContainer .reviewContainer .googleLogo {
    display: grid;
    justify-items: center;
  }
  .testimonialContainer .reviewContainer .googleLogo h2 {
    color: #e2cd1a;
  }
  .testimonialContainer .reviewContainer .googleLogo .fiveStars {
    font-size: 2em;
  }
  .testimonialContainer .reviewContainer .cardContainer {
    border: 0.125em solid #d6eae5;
    border-radius: 1em;
    background-color: #ffffff;
    display: grid;
  }
  .testimonialContainer .reviewContainer .cardContainer .description {
    display: grid;
    gap: 1em;
    text-align: center;
  }
  .testimonialContainer .reviewContainer .cardContainer .description .serviceDescription {
    font-size: 1.125em;
  }
  .testimonialContainer .reviewContainer .cardContainer .description .userName {
    font-weight: bold;
  }
  .testimonialContainer .reviewContainer .cardContainer img {
    border-radius: 2em;
    padding: 1em;
  }
  .coreServices {
    background-color: #fbfbfb;
  }
  .coreServices .container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .coreServices .container .backgroundImage {
    position: absolute;
    z-index: -999;
  }
  .coreServices .container .cardContainer {
    border: 0.125em solid #d6eae5;
    border-radius: 1em;
    background-color: #ffffff;
    display: grid;
  }
  .coreServices .container .cardContainer .description {
    display: grid;
    gap: 1em;
  }
  .coreServices .container .cardContainer img {
    border-radius: 2em;
    padding: 1em;
  }
  .coreServices .container .cardContainer a button {
    color: #192436;
    border-radius: 0.5em;
    font-size: 1em;
    gap: 0.625em;
    height: 2.375em;
  }
  .coreServices .container .cardContainer a .getQuoteBtn {
    background-color: #e2cd1a;
    border: none;
  }
  .coreServices .container .cardContainer a .learnMoreBtn {
    background-color: rgba(226, 205, 26, 0.16);
    border: 0.125em solid #303030;
  }
}
@media only screen and (min-width: 768px) {
  .landingSection .heroSection {
    background-position: top;
  }
  .landingSection .heroSection .companyMessage {
    padding-top: 15em;
    padding-bottom: 15em;
    max-width: fit-content;
    gap: 2em;
    background: transparent;
  }
  .landingSection .heroSection .companyMessage .cta {
    font-size: 1.25em;
  }
  .landingSection .heroSection .companyMessage .cta #subTitle {
    font-size: 1.25em;
  }
  .landingSection .heroSection .companyMessage .navLink .contactUs {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) {
  .services .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
  }
  .services .container .description {
    margin-left: 1.25em;
  }
  .services .container .description .serviceDescription {
    font-size: 1.5em;
  }
  .services .boxOne {
    position: absolute;
    right: 0em;
    float: left;
    width: 17.625em;
    height: 19.625em;
    background-color: #192436;
    z-index: -1;
  }
  .testimonialContainer .reviewContainer .googleLogo {
    height: 28%;
  }
  .testimonialContainer .reviewContainer .googleLogo img {
    height: 46%;
  }
  .testimonialContainer .reviewContainer .cardContainer {
    display: flex;
  }
  .coreServices .container {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2120px) {
  .coreServices .container .backgroundImage {
    width: 80%;
  }
}
@media only screen and (min-width: 2560px) {
  button {
    font-size: 1.5em !important;
  }
  .services .servicesContainer .backgroundImage {
    width: -webkit-fill-available;
  }
  .cardContainer .description h1 {
    font-size: 2.5em !important;
  }
  .cardContainer .description p {
    font-size: 1.5em;
  }
}
