@media only screen and (min-width: 0px) {
  .companyBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url(../images/contactHeaderImg.svg);
    background-size: cover;

    .companyContainer {
      display: grid;
      justify-items: center;
      color: #ffffff;
      padding-top: 188/16em;
      padding-bottom: 188/16em;
      h1 {
        font-size: 66/16em;
      }
      p {
        font-size: 18/16em;
        max-width: 720/16em;
        text-align: center;
      }
      button {
        background-color: #e2cd1a;
        border: none;
        border-radius: 8/16em;
        padding: 6/16em;
        font-size: 20/16em;
        gap: 10/16em;
      }
    }
  }
}
