@media only screen and (min-width: 0px) {
  .companyBanner {
    background-image: linear-gradient(
        rgba(25, 36, 54, 0.8),
        rgba(25, 36, 54, 0.64)
      ),
      url(../images/projectsBackground.jpg);
    background-size: cover;
    background-position: center;

    .companyContainer {
      a {
        button:hover {
          cursor: pointer;
        }
      }
    }
  }
  .projectsContainer {
    .servicesContainer {
      display: grid;
      gap: 48/16em;
      ul {
        list-style: none;
        li.serviceItem {
          display: grid;
          grid-gap: 16/16em;
          border-radius: 8/16em;
          margin: 16/16em;
          img {
            border-radius: 10/16em;
          }
          .descriptionContainer {
            display: grid;
            gap: 16/16em;
            h2 {
              font-size: 28/16em;
            }
            .briefDescription {
              font-family: Georgia, "Times New Roman", Times, serif;
              color: rgba(112, 112, 112, 1);
              font-size: 18/16em;
            }
            a {
              max-width: fit-content;
              .learnMoreBtn {
                border-radius: 8/16em;
                color: #192436;
                font-size: 16/16em;
                cursor: pointer;
                border: 1px solid rgba(48, 48, 48, 1);
                background: rgba(226, 205, 26, 0.16);
                padding: 16px;
                transition: all, 0.5s ease-in-out;
              }
              :hover {
                cursor: pointer;
                background: #192436;
                color: #e2cd1a;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .servicesContainer {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li.serviceItem {
        max-width: 45%;
      }
    }
  }
}
