@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
body {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar {
  width: 0.875em;
  position: absolute;
}
body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.875em;
}
body ::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 0.875em;
}
body ::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
img {
  display: block;
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  display: block;
  font-size: 1em;
}
header {
  z-index: 999;
  position: sticky;
  top: 0;
  background: transparent;
}
@media only screen and (min-width: 0px) {
  body.active {
    background-color: rgba(2, 20, 42, 0.6);
  }
  .companyBanner .companyContainer {
    display: grid;
    justify-items: center;
    color: #ffffff;
    padding-top: 11.75em;
    padding-bottom: 11.75em;
    gap: 2em;
  }
  .companyBanner .companyContainer h1 {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 2.5em;
  }
  .companyBanner .companyContainer h1 span {
    background-color: rgba(226, 205, 26, 0.5);
  }
  .companyBanner .companyContainer p {
    font-size: 1.125em;
    max-width: 45em;
    text-align: center;
  }
  .companyBanner .companyContainer button {
    background-color: #e2cd1a;
    border: none;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.25em;
    gap: 0.625em;
    height: 3.375em;
  }
  .infoLinks {
    background-color: #02142a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9375em;
    gap: 0.5em;
    font-size: 1.0625em;
  }
  .infoLinks p {
    color: #ffffff;
  }
  .infoLinks ul.topHeader {
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
  }
  .infoLinks ul.topHeader li {
    color: #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid;
    cursor: pointer;
  }
  .infoLinks ul.topHeader li i:hover {
    color: #ff0000;
    transition: 0.5s;
  }
  .infoLinks ul.topHeader a:hover {
    color: #e2cd1a;
    transition: 0.5s;
  }
  .infoLinks ul.topHeader li.phoneLink {
    display: none;
  }
  .infoLinks ul.topHeader li.phoneLink p a {
    text-decoration: none;
  }
  .infoLinks ul.topHeader li.phoneLink p a span {
    font-weight: 600;
  }
  .infoLinks ul.topHeader li.emailLink {
    display: none;
  }
  .infoLinks ul.topHeader li.emailLink p a {
    font-weight: 600;
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 1.5em;
    transition: 0.3s;
    font-size: 1.25em;
    background: #192436;
  }
  nav li {
    font-size: 1.25em;
    list-style: none;
    margin-left: 0.875em;
    margin-right: 0.875em;
    padding-top: 0.1875em;
  }
  nav a {
    color: #ffffff;
    text-decoration: none;
  }
  nav a:hover {
    color: #e2cd1a;
  }
  nav .hamburger {
    display: block;
  }
  nav :hover {
    cursor: pointer;
  }
  nav .hamburger.active {
    top: 5em;
    right: 1em;
    position: absolute;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #ffffff;
  }
  nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ffffff;
  }
  nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #ffffff;
  }
  nav .navMenu {
    position: fixed;
    right: -100%;
    background-color: #192436;
    width: 100%;
    transition: 0.3s;
  }
  nav li .navSocialLinks {
    display: none;
  }
  nav .navMenu.active {
    overflow: auto;
    top: 3.375em;
    right: 0;
    width: auto;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 3em;
  }
  nav .navMenu.active li.contactLinks {
    font-size: 1em;
  }
  nav .navMenu.active li.contactLinks .emailLink {
    padding-bottom: 1em;
  }
  nav .navMenu.active :active {
    color: #ff0000;
  }
  nav .navMenu.active li {
    font-size: 1.75em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  nav .navMenu.active li.navSocialLinks {
    margin-left: 0.3em;
    margin-right: 0.4em;
    border-bottom: none;
  }
  nav .navMenu.active li.navSocialLinks ul {
    display: flex;
    flex-direction: row;
    font-size: 0.40625em;
  }
  nav .navMenu.active li.navSocialLinks ul li {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
  }
  nav .navMenu.active li.navSocialLinks ul li i {
    color: #ffffff;
  }
  nav .navMenu.active li.navSocialLinks ul li :active {
    color: #ff0000;
  }
  nav .navMenu.active li.navSocialLinks ul :active {
    background-color: #ffffff;
  }
  nav .navMenu.active a {
    color: #ffffff;
  }
  #headerImg {
    width: 7em;
    height: auto;
  }
  .bar {
    display: block;
    width: 1.875em;
    height: 0.2em;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000;
  }
  .mapShowCase {
    display: none;
  }
  .contactForm {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1.875em;
    margin-bottom: 5em;
    gap: 2em;
  }
  .contactForm .formContainer {
    display: inherit;
    gap: 2em;
    width: 100%;
  }
  .contactForm .formContainer form {
    display: grid;
  }
  .contactForm .formContainer form h2 {
    padding-bottom: 0.5em;
    color: #000000;
  }
  .contactForm .formContainer form input {
    width: 100%;
    padding-left: 1em;
    padding-bottom: 1em;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
  }
  .contactForm .formContainer form input[required]::before {
    content: "*";
    color: red;
    margin-right: 5px;
    position: absolute;
    transform: translateX(-10px);
    /* Adjust the position of the asterisk */
  }
  .contactForm .formContainer form .messageBox {
    display: grid;
    width: 100%;
  }
  .contactForm .formContainer form .messageBox #messageText {
    background-color: transparent;
    outline: none;
    resize: none;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 6em;
    overflow-y: hidden;
    border-color: #a4a4a4;
    border-radius: 10px;
  }
  .contactForm .formContainer form button {
    margin-bottom: 4em;
    width: 100%;
    background-image: linear-gradient(to right, #e2cd1a 50%, #192436 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    background-position: 0;
    color: #192436;
    border: none;
    border-radius: 0.625em;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1em;
    font: inter;
  }
  .contactForm .formContainer form button:hover {
    background-position: 100%;
    color: #ffffff;
  }
  .contactForm .contactInfo {
    display: grid;
    gap: 1em;
    background-color: #1a6fe1;
    align-items: center;
    padding: 1em;
  }
  .contactForm .contactInfo #contactHeader {
    font-size: 2em;
    color: #ffffff;
  }
  .contactForm .contactInfo .contactDetails {
    display: inherit;
    gap: 1em;
  }
  .contactForm .contactInfo .contactDetails p.text {
    color: #ffffff;
    font-size: 1.25em;
  }
  .contactForm .contactInfo .contactDetails .contactLink {
    font-size: 1.125em;
  }
  .contactForm .contactInfo .contactDetails .contactLink a {
    text-decoration: none;
    color: #ffffff;
  }
  .contactForm .contactInfo .contactDetails .contactLink :hover {
    color: #e2cd1a;
  }
  .contactForm .contactInfo .contactDetails .address {
    color: #ffffff;
    font-size: 1.25em;
  }
  .contactForm .contactInfo .contactDetails .openedHours {
    color: #ffffff;
    font-size: 1.25em;
  }
  .contactForm .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .contactForm .map iframe {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  nav .navMenu.active {
    width: 100%;
  }
  nav .navMenu.active li.contactLinks {
    font-size: 0.875em;
  }
}
@media only screen and (min-width: 768px) {
  .companyBanner .companyContainer h1 {
    font-size: 4.125em;
  }
  .infoLinks ul.topHeader li p a {
    color: #ffffff;
  }
  .infoLinks ul.topHeader li.phoneLink {
    display: block;
  }
  .infoLinks ul.topHeader li.emailLink {
    display: block;
  }
  .mapShowCase {
    display: block;
  }
  .contactContainer {
    display: inherit;
    gap: 2em;
    width: 100%;
  }
  .contactContainer .contactForm .contactInfo .contactDetails p.text {
    font-size: 1.75em;
  }
  .contactContainer .contactForm .contactInfo .contactDetails .contactLink {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .contactForm {
    grid-template-columns: 1fr 1fr;
  }
  .navMenu li.contactLinks {
    display: none;
  }
  .navMenu li.navSocialLinks {
    display: none;
  }
  .infoLinks {
    flex-direction: row;
    justify-content: space-around;
  }
  .infoLinks p {
    font-size: 1.25em;
  }
  .infoLinks p a {
    font-size: inherit;
  }
  .infoLinks ul.topHeader {
    gap: 0.5em;
  }
  .infoLinks ul.topHeader li {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
  #headerImg {
    width: 10em;
    height: auto;
  }
  a#imgLink {
    width: 8em;
    overflow: hidden;
    margin-left: 1.5em;
  }
  ul.navMenu {
    display: flex;
    justify-content: space-around;
    position: sticky;
    flex-direction: row;
    background-color: transparent;
    transition: none;
  }
  .bar {
    display: none;
    cursor: pointer;
  }
}
@media only screen and (min-width: 0px) {
  .footerSection .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #192436;
  }
  .footerSection .footerContainer .leftSideFooter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .footerSection .footerContainer .leftSideFooter .imageSubText {
    color: #ffffff;
    font-size: 1.5em;
    max-width: 11.75em;
    font-weight: 300;
  }
  .footerSection .footerContainer .leftSideFooter p > a {
    text-decoration: none;
    color: #ffffffcc;
  }
  .footerSection .footerContainer .leftSideFooter a:hover {
    color: #e2cd1a;
  }
  .footerSection .footerContainer .leftSideFooter .companyMessage {
    color: #ffffff;
    font-size: 1.5em;
  }
  .footerSection .footerContainer .rightSideFooter {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footerSection .footerContainer .rightSideFooter ul.pages li.companyTitle {
    color: #e2cd1a;
    font-size: 1.5em;
    border-bottom: 2px solid #ffffff;
  }
  .footerSection .footerContainer .rightSideFooter ul.pages li {
    list-style: none;
    margin-bottom: 0.5em;
    margin-top: 0.625em;
  }
  .footerSection .footerContainer .rightSideFooter ul.pages li:hover {
    color: #e2cd1a;
  }
  .footerSection .footerContainer .rightSideFooter ul.pages a {
    color: #ffffff;
    text-decoration: none;
  }
  .footerSection .footerContainer .rightSideFooter ul.services .footerCta {
    color: #e2cd1a;
    font-size: 1.5em;
    border-bottom: 2px solid #ffffff;
  }
  .footerSection .footerContainer .rightSideFooter ul.services li {
    list-style: none;
    margin-bottom: 0.5em;
    margin-top: 0.625em;
  }
  .footerSection .footerContainer .rightSideFooter ul.services li p {
    font-size: 1em !important;
  }
  .footerSection .footerContainer .rightSideFooter ul.services a {
    color: #ffffff;
    text-decoration: none;
  }
  .footerSection .footerContainer .rightSideFooter ul.services :hover {
    color: #e2cd1a;
  }
  .footerSection .footerContainer .rightSideFooter ul.footerSocialLinks {
    display: flex;
    justify-content: space-between;
  }
  .footerSection .footerContainer .rightSideFooter ul.footerSocialLinks li {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    list-style: none;
    margin-bottom: 0.5em;
    margin-top: 0.625em;
    color: #ffffff;
    cursor: pointer;
  }
  .footerSection .footerContainer .rightSideFooter ul.footerSocialLinks li:hover {
    color: #ff0000;
    background-color: #ffffff;
  }
  .footerSection .footerContainer .rightSideFooter ul.footerSocialLinks a {
    text-decoration: none;
  }
  .footerSection .copyRight {
    display: flex;
    border-top: 1px solid #ffffff;
    justify-content: center;
    color: #ffffff;
    background-color: #192436;
  }
}
@media only screen and (min-width: 768px) {
  .footerSection .footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footerSection .footerContainer .rightSideFooter {
    grid-template-columns: 1fr 1fr;
  }
  .footerSection .footerContainer .rightSideFooter ul.pages {
    padding-right: 3em;
  }
  .footerSection .footerContainer .rightSideFooter ul.services {
    padding-right: 3em;
  }
}
@media only screen and (min-width: 1024px) {
  .footerSection .footerContainer h2 {
    font-size: 2em;
  }
  .footerSection .footerContainer p {
    font-size: 1.5em;
  }
  .footerSection .footerContainer li {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 2560px) {
  .companyBanner .companyContainer p {
    font-size: 1.5em;
  }
  input::placeholder {
    font-size: 1.5em;
    color: #828282;
  }
  textarea::placeholder {
    font-size: 1.5em;
  }
}
