@media only screen and (min-width: 0) {
  .services .container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .services .container .description {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
  .services .container .description .serviceTitle {
    font-size: 2.5em;
    color: #202020;
  }
  .services .container .description .serviceDescription {
    line-height: 1.5em;
    color: #707070;
  }
  .services .container img {
    padding: 0.5em;
    border-radius: 1em;
  }
  .services .container a {
    width: fit-content;
  }
  .services .container a .getQuoteBtn {
    background-color: #e2cd1a;
    color: #192436;
    border: none;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.25em;
    gap: 0.625em;
    height: 3.375em;
  }
  .services .container#sitePrep {
    background-color: #fafbfb;
  }
  .services .servicedAreas {
    background-color: #ebebeb;
  }
  .services .servicedAreas ul li.locations {
    color: #d7c52a;
    font-size: 2em;
  }
  .services .servicedAreas a {
    width: -webkit-fill-available;
  }
  .services .servicedAreas a button {
    width: 100%;
    color: #192436;
    border-radius: 0.5em;
    padding: 0.375em;
    font-size: 1.15em;
    gap: 0.625em;
    height: 2.375em;
  }
  .services .servicedAreas a .getQuoteBtn {
    background-color: #e2cd1a;
    border: none;
  }
  .services .servicedAreas a .letsConnectBtn {
    background-color: rgba(226, 205, 26, 0.16);
    border: 0.125em solid #303030;
  }
}
@media only screen and (min-width: 1024px) {
  .services .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
  }
  .services .container .description {
    margin-left: 1.25em;
  }
  .services .boxOne {
    position: relative;
    left: 0em;
    float: right;
    bottom: 30em;
    width: 17.625em;
    height: 19.625em;
    background-color: #192436;
    z-index: -1;
  }
}
@media only screen and (min-width: 1440px) {
  .services .boxOne {
    bottom: 40em;
  }
}
@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .services .boxOne {
    bottom: 50em;
  }
}
