@media only screen and (min-width: 0) {
  .services {
    .container {
      padding-top: 48/16em;
      padding-bottom: 48/16em;

      .description {
        display: grid;
        gap: 16/16em;
        padding: 16/16em;
        .serviceTitle {
          font-size: 40/16em;
          color: #202020;
        }

        .serviceDescription {
          line-height: 24/16em;
          color: #707070;
        }
      }
      img {
        padding: 8/16em;
        border-radius: 16/16em;
      }
      a {
        width: fit-content;
        .getQuoteBtn {
          background-color: #e2cd1a;
          color: #192436;
          border: none;
          border-radius: 0.5em;
          padding: 0.375em;
          font-size: 1.25em;
          gap: 0.625em;
          height: 3.375em;
        }
      }
    }
    .container#sitePrep {
      background-color: #fafbfb;
    }

    .servicedAreas {
      background-color: #ebebeb;
      ul {
        li.locations {
          color: #d7c52a;
          font-size: 32/16em;
        }
      }
      a {
        width: -webkit-fill-available;
        button {
          width: 100%;
          color: #192436;
          border-radius: 0.5em;
          padding: 0.375em;
          font-size: 18.4/16em;
          gap: 0.625em;
          height: 38/16em;
        }
        .getQuoteBtn {
          background-color: #e2cd1a;
          border: none;
        }
        .letsConnectBtn {
          background-color: rgba(226, 205, 26, 0.16);
          border: 2/16em solid #303030;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .services {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: center;
      padding-left: 20/16em;
      padding-right: 20/16em;
      width: 100%;

      .description {
        margin-left: 20/16em;
      }
    }
    .boxOne {
      position: relative;
      left: 0em;
      float: right;
      bottom: 30em;
      width: 17.625em;
      height: 19.625em;
      background-color: #192436;
      z-index: -1;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .services {
    .boxOne {
      bottom: 40em;
    }
  }
}

@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 32/16em;
  }
  p {
    font-size: 24/16em;
  }
  .services {
    .boxOne {
      bottom: 50em;
    }
  }
}
